:root {
  --editor-background: var(--color-owl-bg);
  --note-list-bar-background: var(--color-owl-bg);
  --note-list-bar-pinned-section-header-background: var(--color-owl-bg);
  --note-search-bar-input-background: var(--color-owl-bg);
  --note-search-bar-input-border: 1px solid var(--color-owl-border);
  --sidebar-sync-status-view-background: var(--color-owl-bg);
  --sidebar-background: var(--color-owl-bg);

  /* --color-owl-bg with 0.7 opacity */
  --editor-drawer-background: rgba(0, 22, 40, 0.7);

  --preferences-sidebar-background: var(--color-owl-bg);
  --preferences-view-background: var(--color-owl-bg);
  --dropdown-menu-background: var(--color-owl-bg);
  --input-background: var(--color-owl-bg);

  --segment-background: var(--color-owl-bg);
  --secondary-segment-background: var(--color-owl-c);
  --grouped-segment-hover-background: var(--color-owl-b);

  --message-background: var(--color-owl-c);

  --button-background: var(--color-owl-bg);
  --button-hover-background-color: var(--color-owl-c);
  --button-down-background-color: var(--color-owl-a);
  --basic-button-hover-background: var(--color-owl-c);
  --basic-button-down-background: var(--color-owl-a);

  --checkbox-background: var(--color-owl-bg);
  --checkbox-pressed-background: var(--color-owl-a);
  --checkbox-focus-background: var(--color-owl-c);
  --checkbox-active-background: var(--color-owl-b);
  --checkbox-active-focus-background: var(--color-owl-b);

  --tabular-menu-active-background: var(--color-owl-b);
  --table-header-background: var(--color-owl-b);
  --inline-dropdown-menu-background: var(--color-owl-bg);
  --modal-box-content-background: var(--color-owl-bg);
}

/* Scrollbar customization as it horrible with dark ui on macOS */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: 1px solid var(--color-owl-border);
  border-radius: 5px;
}
